.src-page-leaderboard .pending-carat {
  display: none !important;
}

.src-page-leaderboard .category-tab {
  display: block !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  width: 100%;
}

.src-page-leaderboard .category-tab.active {
 background-color: rgba(0, 0, 0, 0.75) !important;
}

.src-page-leaderboard .category-tab-name {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.src-page-leaderboard #centerwidget {
  width: calc(100% - 316px) !important;
}

.src-page-leaderboard #widget {
  width: 316px !important;
}

.src-page-leaderboard #leaderboardform {
  display: flex;
  flex-direction: row;
  border-radius: 0;
}

.src-page-leaderboard #leaderboardform > div:first-of-type {
  position: relative;
  width: 100% !important;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.src-page-leaderboard #leaderboardform > .color-panel {
  flex-grow: 1;
  min-width: 0;
  align-self: stretch;
}

.src-page-leaderboard .color-panel {
  border-radius: 0 !important;
}

.src-page-leaderboard div[component-name="GameRecentRunsSidebar"] tr td:last-of-type,
.src-page-leaderboard div[component-name="GameRecentRunsSidebar"] tr th:last-of-type {
  display: none;
}

.src-page-leaderboard .game-metadata-container {
  font-size: 14px !important;
}

.src-page-leaderboard .gamemenu-item {
  font-size: 14px !Important;
}

/** v2 **/

.src-page-leaderboard .container {
  width: 100% !important;
  max-width: 100vw;
}

.src-page-leaderboard #centerwidget {
  padding: 0 !important;
}

.src-page-leaderboard #widget.col-auto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  padding: 0 !important;
  border-radius: 0 !important;
}

.src-page-leaderboard #widget.col-auto .widget-container {
  border-left: 3px solid rgb(34, 37, 34);
  margin-bottom: 0;
}

.src-page-leaderboard #profile-menu,
.src-page-leaderboard .desktop_sidebar_a {
  margin-bottom: 0 !important;
}

.src-page-leaderboard .maincontent {
  border-top: 3px solid rgb(34, 37, 34);
}

.src-page-leaderboard #centerwidget {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: [categories] max-content [leaderboard] 1fr;
  grid-template-rows: max-content 1fr;
}

.src-page-leaderboard .maincontent,
.src-page-leaderboard #leaderboardform {
  display: contents !important;
}

.src-page-leaderboard #leaderboardform > div:first-of-type {
  grid-column: categories / categories;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.8);
}

.src-page-leaderboard #leaderboardform > div:first-of-type > a {
  width: 200px;
  overflow-x: hidden;
}

.src-page-leaderboard #leaderboardform > .color-panel {
  grid-column: leaderboard / leaderboard;
  grid-row: span 2;
}

.src-page-leaderboard #profile-menu {
  position: sticky;
  top: 56px;
  grid-column: span 2;
  height: max-content;
  max-height: max-content;
  border-radius: 0;
  z-index: 999;
}

.src-page-leaderboard .profile-menu-sticky {
  background-color: #222 !important;
}

.src-page-leaderboard .moderator-widget {
  grid-row: 1;
}

.src-page-leaderboard #leaderboarddiv td {
  font-size: 13px;
}

.src-page-leaderboard .row {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.src-page-leaderboard .row div:first-child {
  grid-column: 1 / -1;
}

.src-page-leaderboard #centerwidget {
  width: 100% !important;
}

.src-page-leaderboard #widget.col-auto {
  width: min-content !important;
  min-width: 300px;
}

.src-page-leaderboard .widget-container {
  border-radius: 0 !important;
}

.src-page-leaderboard .leaderboard-arrows {
  display: none !important;
}

.src-page-leaderboard  #leaderboarddiv .leaderboard-sticky-col {
  background-color: transparent !important;
}